 body {
      margin: 0;
      padding: 0;
      background-image: url('tin1.png');
      background-size: cover;
      background-position: center;
      height: 100vh;
    }

 .playbutton {
      position: absolute;
      top: 35%;  
      left: 28%;
      width: 670px;  
      height: 250px;
      cursor: pointer;
      z-index: 2;
    }